:root {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
}

a {
	color: #000;
	text-decoration: none;
}

.limiter {
	max-width: 990px;
	margin: auto;
}

/* nav */
nav {
	background-color: hsl(30, 100%, 70%);
}

nav .limiter {
	display: flex;
	justify-content: space-around;
}

nav a {
	color: #000;
	padding: 0.5rem 1.5rem;
}

nav a:hover{
	background-color: hsl(30, 100%, 50%);
}
/* limiter */

main .limiter {
	margin-top: 2rem;
	padding: 0 1rem;
}

/* cv list */
.cvList {
	margin: 0 0 0 30px;
}

.cvList a{
	color: #369;
}

/* cv */
.cv h1 {
	margin: 1rem 0 0rem 0;
}

.cv h2 {
	margin: 1rem 0 0rem 0;
}

.cv h3 {
	margin: 0.7rem 0 0rem 0;
}

/* cv print */
@media only print {
	nav{
		display: none;
	}

	.cv.limiter {
		font-size: 12pt;
		padding: 2cm !important;

		width: 210mm;
		margin: 0;
	}

	.cv h1{
		margin: 0.5cm 0 0 0;
	}

	.cv h2 {
		margin: 0.5cm 0 0 0;
	}

	.cv h3 {
		margin: 0.5cm 0 0 0;
	}

}
